<!DOCTYPE html>
<html>
<head>
  <title>Rails lessons</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Checking is user authorized -->
  <% if user_signed_in? %>
    <p> Hello, <%= current_user.full_name %> </p>
    <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Sign in', new_user_session_path %> or
    <%= link_to 'Sign up', new_user_registration_path %>
  <% end %>

  <!-- Show flash notice -->
  <p class="notice">
    <%= flash[:notice] %>
  </p>
  <p class="alert">
    <%= flash[:alert] %>
  </p>

  <%= yield %>

</body>
</html>
